<div class="container mb-5">
	<div>
		<hr class="my-3">
		<div class="links">
			<div class="links-btn">
				<a href="https://x.com/GhalmeNikhil" target="_blank"><i
						class="fa-brandshttps fa-twitter fs-4"></i></a>
			</div>
			<div class="links-btn">
				<a href="https://www.linkedin.com/in/nikhil-ghalme-7153a5252/" target="_blank"><i
						class="fa-brands fa-linkedin-in fs-4"></i></a>
			</div>
			<div class="links-btn">
				<a href="https://github.com/NikhilGhalme/" target="_blank"><i class="fa-brands fa-github fs-4"></i></a>
			</div>
			<div class="links-btn">
				<a href="tel:+917820980478"><i class="fa-solid fa-phone"></i></a>
			</div>
			<!--<div class="links-btn">
				<a href="https://medium.com/@vishwajitsayambar" target="_blank"><i class="fa-brands fa-medium fs-4"></i></a>
			</div>-->
			<div class="links-btn">
				<a href="https://www.instagram.com/nikhil_ghalme_official/" target="_blank"><i
						class="fa-brands fa-instagram fs-4"></i></a>
			</div>
		</div>
	</div>
</div>
<hr>
